# Set the default behavior, in case core.autocrlf is not set.
* text=auto

# Text files to always be normalized and converted to native line endings on checkout.
*.css text
*.csv text
*.html text
*.ini text
*.json text
*.md text
*.py text
*.str text
*.txt text
*.wnd text
LICENSE text
# Text files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
# All files that are truly binary and should not be modified.
*.7z binary
*.ani binary
*.big binary
*.bik binary
*.bmp binary
*.csf binary
*.dds binary
*.dll binary
*.exe binary
*.gz binary
*.jpg binary
*.map binary
*.mp3 binary
*.ods binary
*.png binary
*.psd binary
*.pso binary
*.pyd binary
*.rar binary
*.scb binary
*.tar binary
*.tga binary
*.wak binary
*.w3d binary
*.wav binary
*.vso binary
*.xls binary
*.xlxs binary
*.zip binary
*.7z filter=lfs diff=lfs merge=lfs -text
*.ani filter=lfs diff=lfs merge=lfs -text
*.big filter=lfs diff=lfs merge=lfs -text
*.bik filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.csf filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ods filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.pso filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.scb filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.wak filter=lfs diff=lfs merge=lfs -text
*.w3d filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.vso filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlxs filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
